/* =========Style-main========= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
img {
  display: block;
}
.conteiner {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* =========/Style-main========= */

/* =========Style-header-menu========= */

.conteiner.heder {
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
  justify-content: space-between;
}
.heder-nav-div:not(:last-child) {
  margin-right: 76px;
}
.heder-nav {
  display: flex;
}
.menu {
  margin: 0;
  display: flex;
}
.menu-list:not(:last-child) {
  margin-right: 40px;
}
.address-menu {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
.address-menu-list:not(:last-child) {
  margin-right: 40px;
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text-style {
  color: #2e2f42;
}

.menu-list-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu-list-link:hover,
.menu-list-link:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-menu-list-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-menu-list-link:hover,
.address-menu-list-link:focus {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
/* =========/Style-header-menu========= */
/* =========Style-main-section1========= */
.main-effective {
  background-color: #2e2f42;
}
.main-effective-name {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.button-stile {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  width: 169px;
  height: 56px;
}
.button-stile:hover,
.button-stile:focus {
  background-color: #404bbf;
}
/* =========/Style-main-section1========= */
/* =========Style-main-section2========= */
.section-two-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-two-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* =========/Style-main-section2========= */
/* =========Style-main-team========= */
.teambackground {
  background-color: #f4f4fd;
}
.team-color-back {
  background-color: #ffffff;
}
.team-our-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-name-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* =========/Style-main-team========= */
/* =========Style-main-portfolio========= */
.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-name-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* =========/Style-main-portfolio========= */
/* =========Style-footer========= */
.end {
  background-color: #2e2f42;
}
.end-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.end-logo-part {
  color: #f4f4fd;
}
.end-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
